[Unit]
Description=RadioBrowserAPI
After=network.target

[Install]
WantedBy=multi-user.target

[Service]

Environment="RUST_LOG=radiobrowser_api_rust=info"

##############################################################################
## Core requirements
##

Type=simple

##############################################################################
## Package maintainers
##

User=radiobrowser
Group=radiobrowser

# Prevent writes to /usr, /boot, and /etc
ProtectSystem=full

# Prevent accessing /home, /root and /run/user
ProtectHome=true

# Start main service
ExecStart=/usr/bin/radiobrowser -f /etc/radiobrowser/config.toml

Restart=always
RestartSec=5s
