[package]
authors = ["segler_alex"]
description = "Radio-Browser Server with REST API"
license = "agpl-3.0"
name = "radiobrowser-api-rust"
readme = "README.md"
version = "0.6.4"
edition = "2018"

[dependencies]
av-stream-info-rust = "0.7.3"
chrono = { version = "0.4.10", features = ["serde"] }
clap = "2.33.0"
colored = "1.9.2"
dns-lookup = "1.0.1"
env_logger = "0.7.1"
handlebars = "2.0.4"
hostname = "0.3.0"
log = "0.4.8"
mysql = "17.0.0"
native-tls = "0.2.3"
percent-encoding = "2.1.0"
reqwest = "0.9.24"
rouille = "3.0.0"
serde = "1.0.104"
serde_derive ="1.0.104"
serde_json = "1.0.44"
threadpool = "1.7.1"
toml = "0.5.6"
url = "2.1.1"
uuid = { version = "0.8.1", features = ["serde", "v4"] }
website-icon-extract = "0.4.1"
xml_writer = "0.4.0"

[package.metadata.deb]
maintainer = "sailor <segler@programmierecke.net>"
copyright = "2018, sailor <segler@programmierecke.net>"
depends = "$auto, systemd, default-mysql-server"
extended-description = """\
Radio-Browser Server with REST API
"""
section = "admin"
priority = "optional"
assets = [
    ["target/release/radiobrowser-api-rust", "usr/bin/radiobrowser", "755"],
    ["static/*", "usr/share/radiobrowser/", "644"],
    ["init.sql", "usr/share/radiobrowser/init.sql", "644"],
    ["init/*", "etc/systemd/system/", "644"],
    ["radiobrowser.toml", "etc/radiobrowser/config-example.toml", "644"],
    ["radiobrowser.toml", "etc/radiobrowser/config.toml", "644"],
]
conf-files = [
    "etc/radiobrowser/config.toml",
]
maintainer-scripts = "debian/"