version: "3.0"
services:
  api:
    build: ./
    image: segleralex/radiobrowser-api-rust:0.7.12
    deploy:
      replicas: 1
    networks:
      - mynet
    ports:
      - 8080:8080
    environment:
       - DATABASE_URL=mysql://radiouser:password@dbserver/radio
       - CACHETYPE=redis
       - CACHETTL=60sec
       - CACHEURL=redis://cacheserver:6379
       - HOST=0.0.0.0
  cacheserver:
    image: redis
    networks:
      - mynet
  dbserver:
    image: mariadb:10.4
    deploy:
      replicas: 1
    environment:
       - MYSQL_ROOT_PASSWORD=12345678
       - MYSQL_USER=radiouser
       - MYSQL_PASSWORD=password
       - MYSQL_DATABASE=radio
    networks:
      - mynet
    volumes:
      - ./dbdata:/var/lib/mysql
    command: ["mysqld","--character-set-server=utf8mb4","--collation-server=utf8mb4_unicode_ci"]
networks:
  mynet:
    driver: "overlay"
    driver_opts:
      encrypted: ""
