<VirtualHost *:80>
    ServerName {{ inventory_hostname }}

    ServerAdmin {{ email }}
    DocumentRoot /var/www/radio

    ErrorLog ${APACHE_LOG_DIR}/error.radio.log
    CustomLog ${APACHE_LOG_DIR}/access.radio.log combined

    ProxyPass "/"  "http://localhost:8080/"
    ProxyPassReverse "/"  "http://localhost:8080/"

    AddOutputFilterByType DEFLATE application/xml text/xml
    AddOutputFilterByType DEFLATE application/json

    <Directory /var/www/radio/>
        AllowOverride All
        Order allow,deny
        allow from all
    </Directory>
</VirtualHost>